<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../ressources/css/style.css"> <!-- this should echo from $config[path=>css] -->
	<title>Tester</title>
</head>
<body>
	<div id="container" class="contaier">
		<div class="row avis" style="border: 1px solid gray; margin: 20px 0 50px; padding: 20px 15px; background-color: #ededed;">
			<h2>Avis d'impôt 2017 <!-- = $current_year --> taxes foncières :</h2>
			<div class="col-md-12">
				<h3>Information de l'entreprise :</h3>
				<label for="nom-ent">Nom d'entreprise :<input type="text" id="nom-ent" name="nom-ent"></label>
				<label for="montant-ent">Montant à payer :<input type="text" id="montant-ent" name="montant-ent"></label>
				<label for="dep-ent">Département :<input type="text" id="dep-ent" name="dep-ent"></label>
				<label for="com-ent">Commune :<input type="text" id="com-ent" name="com-ent"></label>
			</div>
			<br>
			<div class="col-md-12">
				<h3>Détail du calcul des cotisations, propriétés Bâties :</h3>
				<table cellpadding="0" cellspacing="0" border="0" id="proprietes-baties">
					<tr>
						<th></th>
						<th>Commune</th>
						<th>Syndicat de communes</th>
						<th>Inter communalité</th>
						<th>Département</th>
						<th>Taxes spéciale</th>
						<th>Taxe ordures ménagères</th>
						<th>Total des cotisations</th>
					</tr>
					<tr>
						<td>Taux 2016 <!--  = $current_year (-) 1 --></td>
						<td> <input type="text" id="taux-com-baties" name="taux-com-baties" class="" > </td>
						<td> <input type="text" id="taux-synd-com-baties" name="taux-synd-com-baties" class="" > </td>
						<td> <input type="text" id="taux-inter-com-baties" name="taux-inter-com-baties" class="" > </td>
						<td> <input type="text" id="taux-dep-baties" name="taux-dep-baties" class="" > </td>
						<td> <input type="text" id="taux-tse-baties" name="taux-tse-baties" class="" > </td>
						<td> <input type="text" id="taux-teom-baties" name="taux-teom-baties" class="" > </td>
						<td> <input type="text" id="taux-total-baties" name="taux-total-baties" class="" > </td>
					</tr>
					<tr><td colspan="8">
						<table cellpadding="0" cellspacing="0" border="0"><tr>
							<td>Adresse</td>
							<td colspan="6"> <input type="text" id="adresse-baties-0" name="adresse-baties-0" class="" ></td>
							</tr><tr>
								<td>Base</td>
								<td> <input type="text" id="base-com-baties-0" name="base-com-baties-0" class="" > </td>
								<td> <input type="text" id="base-synd-com-baties-0" name="base-synd-com-baties-0" class="" > </td>
								<td> <input type="text" id="base-inter-com-baties-0" name="base-inter-com-baties-0" class="" > </td>
								<td> <input type="text" id="base-dep-baties-0" name="base-dep-baties-0" class="" > </td>
								<td> <input type="text" id="base-tse-baties-0" name="base-tse-baties-0" class="" > </td>
								<td> <input type="text" id="base-teom-baties-0" name="base-teom-baties-0" class="" > </td>
								<td> <input type="text" id="base-total-baties-0" name="base-total-baties-0" class="" > </td>
							</tr><tr>
								<td>Cotisation</td>
								<td> <input type="text" id="cotisation-com-baties-0" name="cotisation-com-baties-0" class="" > </td>
								<td> <input type="text" id="cotisation-synd-com-baties-0" name="cotisation-synd-com-baties-0" class="" > </td>
								<td> <input type="text" id="cotisation-inter-com-baties-0" name="cotisation-inter-com-baties-0" class="" > </td>
								<td> <input type="text" id="cotisation-dep-baties-0" name="cotisation-dep-baties-0" class="" > </td>
								<td> <input type="text" id="cotisation-tse-baties-0" name="cotisation-tse-baties-0" class="" > </td>
								<td> <input type="text" id="cotisation-teom-baties-0" name="cotisation-teom-baties-0" class="" > </td>
								<td> <input type="text" id="cotisation-total-baties-0" name="cotisation-total-baties-0" class="" > </td>
							</tr>
						</table>
					</td></tr>
				</table>
				<a href="#ajouter_une_baties">Ajouter une proprietés bâties</a>
				<br><br><br>
				!!! Les bases relatives aux propriétés non bâties ne rentrent pas dans le calcul de la simulation puisque la réforme de la taxe foncière porte uniquement sur les locaux, soient les propriétés bâties.
			</div>
		</div> <!-- .avis -->
		<div class="row cerfa-666-rev" style="border: 1px solid gray; margin: 20px 0 50px; padding: 20px 15px; background-color: #ededed;">
			<h2>CERFA 6660-REV :</h2>
			<div class="col-md-12">
				<h3>Votre département :</h3>
				<input type="text" id="u-dep" name="u-dep" placeholder="Votre département"> 
				<span>/</span>
				<select name="u-dep-select" id="u-dep-select">
					<option value="aucun">Séléctionnez votre département</option>
					<option value="dep1">Dep 1</option>
					<option value="dep1">Dep 2</option>
					<option value="dep1">Dep 3</option>
				</select>
				<br>
				<input type="text" id="u-com" name="u-com" placeholder="La commune"> <span>pdf</span>
				<br>
				<input type="text" id="u-sec" name="u-sec" placeholder="Le Secteur"> <span>pdf</span>
			</div>
			<div class="col-md-12">
				<h3>Occupation du local :</h3>
				<h4>Occupant(s) :</h4>
				<table cellpadding="0" cellpadding="0" border="0" id="num-siren">
					<tr class="hidden"><td></td></tr>
				</table>
				<a href="#add_siren">Ajouter un N° SIREN</a>
				<h4>Catégorie du local :</h4>
				<select name="local-cat" id="local-cat">
					<option value="aucun" selected></option>
					<optgroup label="group-1">
						<option value="item 1">Item 1</option>
					</optgroup>
					<optgroup label="group-2">
						<option value="item 2">Item 2</option>
					</optgroup>
				</select>
				<h4>Consistance du local :</h4>
				<table cellpadding="0" cellpadding="0" border="0" id="surfaces-local">
					<tr>
						<th>Répartition de la surface totale (hors parkings)</th>
						<th>Surface au m<sup>2</sup></th>
					</tr>
				</table>
			</div>
			<div class="col-md-12 options">
				<h4>Options : Calculs de la Simulation</h4>
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<th></th>
						<th>Commune</th>
						<th>Syndicat de communes</th>
						<th>Inter communalité</th>
						<th>Département</th>
						<th>Taxes spéciale (TSE)</th>
						<th>Taxe ordures ménagères (TEOM)</th>
					</tr>
					<tr>
						<td>Coefficient de neutralisation</td>
						<td> <input type="text" id="option-neutr-com" name="option-neutr-com" class="" value="55" > </td>
						<td> <input type="text" id="option-neutr-synd-com" name="option-neutr-synd-com" class="" value="33" > </td>
						<td> <input type="text" id="option-neutr-inter-com" name="option-neutr-inter-com" class="" value="37" > </td>
						<td> <input type="text" id="option-neutr-dep" name="option-neutr-dep" class="" value="45" > </td>
						<td> <input type="text" id="option-neutr-tse" name="option-neutr-tse" class="" value="28" > </td>
						<td> <input type="text" id="option-neutr-teom" name="option-neutr-teom" class="" value="35" > </td>
					</tr>
				</table>
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td>Coefficient de localisation</td>
						<td><input type="text" id="option-local" name="option-local" class="" value="1" ></td>
					</tr>
				</table>
				<br>
				<span>
					!!! La date estimée de la diffusion des coefficients de neutralisation est prévue pour fin Juin 2017, en attendant, la simulation s'effectue en fonction du coefficient moyen sur la France égal à 0,3.
					<br>On vous informe également que le coefficient de neutralisation est prévu d'être propre à chaque collectivité et à chaque impôt (taxe foncière, CFE, ordures ménagères,…).
					<br>Concernant les taux de Commune, syndicats de communes, inter communalité, département, taxes spéciales, taxe ordures ménagères … etc, on prend par défaut les taux N-1
				</span>
			</div>
			<div class="col-md-12 signature">
				<h4>A propos de vous :</h4>
				<input type="text" id="u-nom" name="u-nom" placeholder="Nom et prénom">
				<input type="email" id="u-dep" name="u-dep" placeholder="E-mail">
			</div>
			<div class="col-md-6">
				<button>Lancer la simulation</button>
			</div>
		</div> <!-- .cerfa-666-rev -->
	</div> <!--#container -->

	<!-- SCRIPTS -->
	<!-- lib -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- local -->
	<script>
		$(function(){

			/**
			 * Adding rows to PROPRIETES BÂTIES table
			 */
			$('a[href="#ajouter_une_baties"]').on('click', function(e){
				e.preventDefault();
				var targetItem = '#proprietes-baties',
					id;

				$(targetItem).find('table').each(function(count){
					id = count + 1;
				})

				console.log('id : '+id);

				$(this).prev(targetItem)
						.append('<tr><td colspan="8">&nbsp;</td></tr><tr><td colspan="8">'+
									'<table cellpadding="0" cellspacing="0" border="0"><tr>'+
										'<td>Adresse</td>'+
										'<td colspan="6"> <input type="text" id="adresse-baties-'+id+'" name="adresse-baties-'+id+'" class="" ></td>'+
										'</tr><tr>'+
											'<td>Base</td>'+
											'<td> <input type="text" id="base-com-baties-'+id+'" name="base-com-baties-'+id+'" class="" > </td>'+
											'<td> <input type="text" id="base-synd-com-baties-'+id+'" name="base-synd-com-baties-'+id+'" class="" > </td>'+
											'<td> <input type="text" id="base-inter-com-baties-'+id+'" name="base-inter-com-baties-'+id+'" class="" > </td>'+
											'<td> <input type="text" id="base-dep-baties-'+id+'" name="base-dep-baties-'+id+'" class="" > </td>'+
											'<td> <input type="text" id="base-tse-baties-'+id+'" name="base-tse-baties-'+id+'" class="" > </td>'+
											'<td> <input type="text" id="base-teom-baties-'+id+'" name="base-teom-baties-'+id+'" class="" > </td>'+
											'<td> <input type="text" id="base-total-baties-'+id+'" name="base-total-baties-'+id+'" class="" > </td>'+
										'</tr><tr>'+
											'<td>Cotisation</td>'+
											'<td> <input type="text" id="cotisation-com-baties-'+id+'" name="cotisation-com-baties-'+id+'" class="" > </td>'+
											'<td> <input type="text" id="cotisation-synd-com-baties-'+id+'" name="cotisation-synd-com-baties-'+id+'" class="" > </td>'+
											'<td> <input type="text" id="cotisation-inter-com-baties-'+id+'" name="cotisation-inter-com-baties-'+id+'" class="" > </td>'+
											'<td> <input type="text" id="cotisation-dep-baties-'+id+'" name="cotisation-dep-baties-'+id+'" class="" > </td>'+
											'<td> <input type="text" id="cotisation-tse-baties-'+id+'" name="cotisation-tse-baties-'+id+'" class="" > </td>'+
											'<td> <input type="text" id="cotisation-teom-baties-'+id+'" name="cotisation-teom-baties-'+id+'" class="" > </td>'+
											'<td> <input type="text" id="cotisation-total-baties-'+id+'" name="cotisation-total-baties-'+id+'" class="" > </td>'+
										'</tr>'+
									'</table>'+
								'</td></tr>');
			});

			/**
			 * Remove current row
			 */
			$('body').on('click','.remove-row', function(){
				$(this).parents('tr').remove();
			})

			/**
			 * Adding rows to SURFACE table
			 */
			$('a[href="#add_surface"]').on('click', function(e){
				//self explanatory
				e.preventDefault();

				//setup variables
				var max,
					targetItem = '#surfaces-local',
					limit = 3;

				//go through the table and get the last index number
				$(targetItem).find('tr').each(function(e){
					max = e;
				});

				//check the limitation and then print append the element
				if(max < limit){
					var surfaceId = max+1;
					$(this).prev(targetItem)
							.append('<tr><td>'+
										'P'+surfaceId+' - Explicatif de la surface'+
										'</td><td>'+
										'P'+surfaceId+' <input type="text" id="surface-p'+surfaceId+'" name="surface-p'+surfaceId+'" placeholder="Surface en m²"'+
										'</td>');
			    }else{ //alert to the user
					alert('Atteint le maximum');
				}
			})

		})
	</script>
</body>
</html>